.revform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-form {
    border: 10px solid purple;
    border-radius: 15px;
    padding: 35px;

}
.review-form > label {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}
.rev-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
