.show-container {
    background: linear-gradient(90deg, rgba(52,175,210,1) 12%, rgba(177,63,165,1) 77%);
    display: flex;
    flex-direction: column;
    
}
.show-top {
    display: flex;
    padding: 40px;
}
.show-left{ 
    width: 50%;
}

.show-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.favorite-button {
    color: white;
    background-color: rgb(88, 22, 180);
    border: none;
    border-radius: 10px;
    
    
}
.favorite-button:hover {
    background-color: white;
    color: black;
}
