.show-container {
    background-color: rgb(159, 117, 187);
    display: flex;
    flex-direction: column;
    height: 200vh;
}
.show-top {
    display: flex;
    padding: 40px;
}
.show-left{ 
    width: 50%;
}

.show-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
