.rev-select {
    width: 10%;
    margin: 15px;
}
.rev-container {
    border: 3px solid orange;
    display: flex;
}
.review-card {
    border: 3px solid rgb(60, 143, 49);
    width: 35%;
    padding: 15px;
    margin: 15px;
}
.review-comment {
    margin: 10px 0px;
}
.review-buttons-div {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.reviews-div-container {
    border: 3px solid red;
    height: 50vh;
}
