.rev-select {
    width: 10%;
    margin: 15px;
}
.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(52,175,210,1) 23%, rgba(177,63,165,1) 95%);
}
.rev-container {
    display: flex;
}
.review-card {
    border: 10px solid rgb(49, 28, 182);
    border-radius: 8px;
    width: 35%;
    padding: 15px;
    margin: 15px;
}
.review-card > h1 {
    border-bottom: 5px;
}
.review-comment {
    margin: 10px 0px;
}
.review-buttons-div {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.reviews-div-container {
    height: 50vh;
}
.review-buttons-div > button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(88, 22, 180);
    color: white;
    border: none;
}
.review-buttons-div > button:hover {
    background-color: white;
    color: purple;
}
#revform-submit-btn {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(88, 22, 180);
    color: white;
    border: none;
}
#revform-submit-btn:hover {
    background-color: white;
    color: purple;
}
